header.bg-green-800.p-4 
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Estadias 
            span.font-normal TIC

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font bold text-white hidden")
            a(href="") link
            a(href="") link
            a(class="bg-green-900 py-2 px-10 rounded-lg" href="") Cerrar Sesion
